{% extends "header.html" %}

{% block body %}

    <body>
    <div class="container">
        <h4>Users</h4>
        <br/>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>S. No.</th>
                <th>Mobile No</th>
                <th style="width: 40%">Reg Id</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.uid }}</td>
                    <td>{{ user.mobile_no }}</td>
                    <td>{{ user.reg_id }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    </body>

{% endblock %}